<h3>{{leyenda}}</h3>

<div class="input-group">
    <div class="input-group-prepend" id="button-addon3">
        <button class="btn btn-primary" (click)="cambiarvalor(-5)" type="button">
            <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <input #txtProgres type="number" class="form-control" max="100" min="1" placeholder="" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChange($event)">
    <div class="input-group-prepend" id="button-addon3">
        <button class="btn btn-primary" (click)="cambiarvalor(+5)" type="button">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>